<mdb-carousel [isControls]="false" [animation]="'slide'">
    <mdb-carousel-item>

      <img class=" w-100 p-3" src="../../assets/images/2.jpg" alt="First slide">
     
       </mdb-carousel-item>
    <mdb-carousel-item>
      <img class="w-100 p-3" src="../../assets/images/d.jpg" alt="Second slide">
    </mdb-carousel-item>
    <mdb-carousel-item>
      <img class="w-100 p-3" src="../../assets/images/5.webp" alt="Third slide">
    </mdb-carousel-item>
  </mdb-carousel>


  <div class="section">
    <div class="container">
        <div class="row">
            <div class="title-area">
                <h2>FIND YOUR DREAM JOB WITH NextStep_Portal</h2>
                <div class="separator separator-danger">✻</div>
                <p class="description">With our strong network within the Microsoft world, NextStep_Portal are uniquely positioned to find you your dream job.

                    We have exceptional relationships with leading Microsoft Partners and End Users, which allows us to give candidates excellent market exposure. Our team of dedicated Dynamics 365 Consultants have the knowledge and ability to find the best opportunities to fit your individual needs and support your skills and personal aspirations.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="info-icon">
                  
                    <div class="icondisplay">
                        <img src="../../assets/images/k1.jpg" alt="">
                    </div>
                    <h3>Recruitment</h3>
                    <p class="description">Hiring for a top level job may be difficult, which is why many corporate houses take the help of executive search companies to help them out. Their in-house team might have the capabilities of understanding the requirements.NextStep portal, one of the leading and foremost top executive search companies India.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="info-icon">
                    <div class="icondisplay">
                        <img src="../../assets/images/k2.png" alt="">
                    </div>
                    <h3>Internships</h3>
                    <p class="description">Internships are beneficial because they help develop your professional aptitude, strengthen personal character, and provide a greater door to opportunity. By investing in internships, you'll give yourself the broadest spectrum of opportunity when seeking and applying for a job after college.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="info-icon">
                    <div class="icondisplay">
                        <img src="../../assets/images/k3.jpg" alt="">
                    </div>
                    <h3>Adherence to Standards</h3>
                    <p class="description">We observe standardized processes and security guidelines for on-us and candidate details.
                        Candidate satisfaction is our key priority, and so all our process are audited on a daily basis. We ensure the top standards in candidate interaction,
                        timely payment and communicating with you in case of any issues
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
               
            </div>
            <div class="col-md-4">
                <div class="info-icon">
                    <div class="icondisplay">
                        <img src="../../assets/images/receipt.png" alt="">
                    </div>
                    <h3>Instant Confirmation</h3>
                    <p class="description">We furnish instant confirmation receipt in the form of email. </p>
                </div>
            </div>
            <div class="col-md-4">
               
            </div>
        </div>
    </div>
</div>

<div class="section section-our-team-freebie">
    <div class="parallax filter filter-color-grey">
        <div class="image" style="background-image:url('../../assets/images/f.jpg')">
        </div>
        <div class="container">
            <div class="content">
                <div class="row">
                    <div class="title-area">
                        <h2>Who We Are</h2>
                        <div class="separator separator-danger">✻</div>
                        <p class="description">We are a young, dynamic service oriented team, focused on  the Recruitment of Engineering Students.</p>
                    </div>
                </div>

                <div class="team">
                    <div class="row">
                        <div class="col-md-12 col-md-offset-1">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="card card-member">
                                        <div class="content">
                                            <div class="avatar avatar-danger">
                                                <img alt="..." class="img-circle" src="../../assets/images/face_6.jpg"/>
                                            </div>
                                            <div class="description">
                                                <h3 class="title">Roshan</h3>
                                                <p class="small-text">CEO</p>
                                                <p class="description">My passion is people and technology and I love collaborating to bring these two passions together.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card card-member">
                                        <div class="content">
                                            <div class="avatar avatar-danger">
                                                <img alt="..." class="img-circle" src="../../assets/images/face_5.jpg"/>
                                            </div>
                                            <div class="description">
                                                <h3 class="title">Joseph</h3>
                                                <p class="small-text">Manager</p>
                                                <p class="description">I am a software consultant, and love to design and bring ideas to life through innovative designs.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card card-member">
                                        <div class="content">
                                            <div class="avatar avatar-danger">
                                                <img alt="..." class="img-circle" src="../../assets/images/face_3.jpg"/>
                                            </div>
                                            <div class="description">
                                                <h3 class="title">Nimmy</h3>
                                                <p class="small-text">Marketing Manager</p>
                                                <p class="description">I am a business grad, passionate about connecting the technology advancements with people.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="section section-our-clients-freebie ">
    <div class="container">
        <div class="title-area">
            <h5 class="subtitle text-gray">Here are some</h5>
            <h2>Companies Review</h2>
            <div class="separator separator-danger">∎</div>
        </div>
        <div id="testimonials">
            <div class="avatar avatar-danger">
                <img alt="..." class="img-circle" src="../../assets/images/face_1.jpg"/>
            </div>
    </div>
    <div class="tab-content">
            <div class="tab-pane active" id="testimonial1">
                <p class="description">
                    NextStep is very helpful as we can filter the candidates with those skills which we required. Portal and application has a number of filter list where I can contact the candidate from them. It helps to recognize the candidate skills, background status and work authorization status.
                </p>
            </div>
        </div>

    </div>
</div>



<footer class="foot">Copyright@NextStep_Portal@2021</footer>